@import url(./fonts.css);

/* CUSTOM-PROPS */
:root {
    --primary-color: #7177F1;
    --body: #151437;
    --text-color: #fff;  /* 323232 */
    --dots: #ebebeb; /*828282*/
    --dots-active: #7177F1;
    --white: #FFF;
    --subtitle: #EBEBEB;  /* 323232 */
    --footer-link: #FFF; /* #7177F1 */
    --Montserrat: "Montserrat";
    --Trebuchet: "Trebuchet";
}

/* CUSTOM-PROPS */